

        /* Page Styling */


::-moz-selection { 
    background: thistle;
    color: white;        
  }

::selection { 
    background: thistle;
    color: white;
 }


@font-face {
    font-family: "ABCGalapagos-C-Regular";
    src: url("fonts/ABCGalapagosC-Regular-Trial.woff2") format("woff2"),
         url("fonts/ABCGalapagosC-Regular-Trial.woff") format("woff");
  }

  
body {

    background-color: Snow;

}




        /* Text Styling */


.title {
	font-family: "ABCGalapagos-C-Regular", sans-serif;
	font-size: 26px;
	line-height: 1.15em;
	color: #000;

}

.container {

    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.35em;
    color: #000;
    z-index: 3;
    position: relative;


    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
 
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;

            margin-right: 2vw;
            margin-left: 2vw;
            margin-top: 2vh;
 }





        /* Shapes  */

 .shape{
 	max-width:1em;
 	max-height:1em;
 	padding-left:3px;
 	padding-right:2px;
 }

  .shapeUpper{
 
 	z-index: 1;

    margin-right: 38vw;
    margin-left: 38vw;
    margin-top: 10vh;

    position: absolute;

 }

   .shapeLower{

 	z-index: 5;

 	margin-right: 70vw;
    margin-left: 20vw;
    margin-top: 50vh;

    position: absolute;

 }

.shapeLower2{

 	z-index: 2;

 	margin-right: 10vw;
    margin-left: 70vw;
    margin-top: 70vh;

    position: absolute;

 }


        /* Links */

a {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #000;
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

a:hover {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #000;
    text-decoration: none;
    text-underline-offset: 7px;
}





        /* Submission Form */

.submissions {

    position: relative;
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #000;
    z-index: 4;



    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 8em;
    margin-bottom: 3em;
 }

 input {

    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #000;
    border:none;

    width: 20em;
    max-width: 100%;
    height: 1.5em;
    margin-bottom:.75em;
    padding-left:10px;
    text-decoration: underline;
    text-underline-offset: 7px;
    

  }

input:focus {
        outline: none;
    }



 select {
        font-family: Arial, sans-serif;
        font-size: 26px;
        line-height: 1.15em;
        color: #000;
        text-decoration: underline;
        text-underline-offset: 7px;

        width: 20em;
        max-width: 100%;
        height: 1.5em;
        margin-bottom:.75em;
        padding-left:10px;
        border: none;
        border-radius: 0;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

    }

select:focus {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 7px;
    }


input[type=submit] {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #000;
    background-color:#fff;
    text-align:left;
    border:2px #000 solid;
    transition: 0.3s;
    text-decoration:none;

    width: 10em;
    max-width: 100%;
    height: 1.5em;
    margin-bottom:.75em;
    padding-top:5px;
    padding-left:10px;
     }

input[type=submit]:hover {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 1.15em;
    color: #fff;
    background-color:#000;
    border:2px #000 solid;
    text-align:left;
    text-decoration:none;

    width: 10em;
    max-width: 100%;
    height: 1.5em;
    margin-bottom:.75em;
    padding-top:5px;
    padding-left:10px;
     }
    







        /* For Mobile: */

 @media only screen and (max-width: 900px) {

.title {
	font-family: "ABCGalapagos-C-Regular", sans-serif;
	font-size: 22px;
	line-height: 1.15em;
	color: #000;

}

.container {

            font-family: Arial, sans-serif;
            font-size: 22px;
            line-height: 1.35em;
            color: #000;
        
        
            -webkit-column-count: 1;
               -moz-column-count: 1;
                    column-count: 1;
         
            -webkit-column-gap: 20px;
               -moz-column-gap: 20px;
                    column-gap: 20px;
        
                    margin-right: 2vw;
                    margin-left: 2vw;
                    margin-top: 2vh;
         }

.shapeUpper{
 
 	z-index: 1;

    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 0em;

    position: absolute;

 }

.shapeLower{

 	z-index: 1;

 	margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 30em;

    position: absolute;

 }

 .shapeLower2{

 	z-index: 2;

 	margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 80em;

    position: absolute;

 }
    
  }